body {
  margin-top: 50px;
  padding: 0;
  background-color: #000;
  color: #ffffff;
  font-family: sans-serif;
}
main {
  background-color: #7c7c7c;
color: #000;
  padding: 60px;
background-color: #ffffff;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( #d2d2d255, #d2d2d2 );
}




.main3 {
  background-color: #7c7c7c;
  padding: 60px;
color: #000;
  
background-color: #ffffff;
opacity: 1;
background-image: radial-gradient(circle at center center, #eeeeee, #ffffff), repeating-radial-gradient(circle at center center, #eeeeee, #eeeeee, 7px, transparent 14px, transparent 7px);
background-blend-mode: multiply;}


.main2 {
  background-color: #7c7c7c;
  padding: 60px;
color: #000;
  
background-color: #ffffff;
opacity: 1;
background-image: radial-gradient(#000000 1.2000000000000002px, #ffffff 1.2000000000000002px);
background-size: 24px 24px;}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

}





nav li {
  margin-right: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.social-icons li a i {
  color: #fff;
}
table {
  border: 1px solid #000;
  border-collapse: collapse;
}

.buy-now-button {
  background-color: #007bff;
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.buy-now-button:hover {
  background-color: #0069d9;
}

.contact_form {
  margin: 20px;
  padding: 60px;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
  width: 60%;
}

.contact_form td {
  padding: 10px;
  text-align: center;
}

.contact_form input,
.contact_form textarea {
  width: 58%;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.contact_form button {
  width: 58%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact_form button:hover,
.contact_form button:focus,
.contact_form button:active {
  background-color: white;
  color: black;
}
.contact_form input[type="text"], 
.contact_form input[type="email"],
.contact_form textarea {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 20px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px; /* adds space between icons */
}
.nft-table {
  border-collapse: collapse;
  width: 310px;
  font-size: 14px;
}

.nft-table th,
.nft-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.nft-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.nft-table tr:hover {
  background-color: #f5f5f5;
}



.nft-table td a {
  color: #333;
  text-decoration: none;
}

.nft-table td a:hover {
  color: #007bff;
}
